<body>
    <div id="main">
        <h1>Auskunft über die gesammelten Nutzerdaten.</h1>
        <p>Es wurde eine Auskunft über die gesammelten Nutzerdaten ihres Benutzeraccounts angefordert. Diese Daten sind im Anhang enthalten.</p>
        <p>Sie haben außerdem das Recht die <a href="">Löschung dieser Date</a> zu verlangen.</p>
        <p>Um weitere ihrer Rechte, die in unsere <a href="pjt.sunaarisu.de">Datenschutzerklärung</a> aufgezählt werden, einzufordern oder bei Fragen, kontaktieren sie uns gerne per Email an <a href="mailto:contact@sunaarisu.de">contact@sunaarisu.de</a>.</p>
    </div>
    
    <div id="footer">
        <a href="pjt.sunaarisu.de">Datenschutzerklärung</a>
    </div>
</body>


<style>
    body{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #191919;
        height: 100vh;
        width: 100vw;
        overflow-x: hidden;
        color: azure;
        font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
      Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
      padding: 30px;
    }

    #main{
        display: flex;
        flex-direction: column;
        padding-bottom: 50px;
        border-bottom: 1px solid azure;
    }

    #footer{
        margin-top: 50px;        
    }

    a{
        color: azure;
    }
</style>